* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(95, 158, 160, .3);
  justify-content: center;
  padding: 0;
  margin: 0;
}

/* Style the header */
.header {
  background-color: cadetblue;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
}

/* Style the footer */
.footer {
  background-color: rgba(95, 158, 160, .5);
  padding: 10px;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}