body {
  font-size: 1em;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: darkgray;
  color: darkslateblue;
  font-family: "Courier New", Courier, monospace;
}
.bild-adress{
  display: flex;  
}

.grid-container{
  height: 400 px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center;
}

.ruta {
  height: 100px;
  width: 100px;
  background-color: red;
  border: solid 2px black;
}

h2 {
  text-decoration: underline;
}

p {
  color: wheat;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

#adress {
  width: 200px;
}

#adress :hover{
  background-color: rgba(255, 0, 0  , 0.5);
  padding: .5em;
}